html {
	height: 100%;
	font-family: Verdana,sans-serif;
}

body {
	width: 100%;
	height: 600%;
	margin: 0px;

}

.wrapper {
	width: 100%;
	position: absolute;
	z-index: 0;
}

#wrap1 {
	height: 200vh;
	background: url(Images/Background/Background.png) no-repeat fixed center;
}

#wrap2 {
	background-color: white;
	height: 100vh;
	margin-top: 300vh;
	border-style: solid;
	border-color: #888888;
	border-left: 3px;
	border-right: 3px;
}

.joycon {
	position: fixed;
	margin-top: 100px;
	opacity: 0;
}

#left {
	left: -400px;
	margin-left: 8%;
}

#right {
	right: -400px;
	margin-right: 8%;
}

#title-pannel {
	position: absolute;
	z-index: 30;
	width: 100%;
	padding-top: 100px;
}

#title-pannel div {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
	width: 400px;
	position: static;
}

#screen-pannel {
	position: absolute;
	z-index: 10;
	width: 100%;
	padding-top: 800px;
}

#screen-pannel img {
	position: static;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#screen-pannel img p {
	color: white;
	text-align: center;
}

#title-pannel.hold {
	position: fixed;
	padding-top: 0px;
}

#screen-pannel.hold {
	position: fixed;
	padding-top: 100px;
}

.image {
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#strap-pannel {
	position: absolute;
	z-index: 20;
	width: 100%;
	padding-top: 350vh;
}

/*Images*/

#pic-1{
	display: block;
}

#pic-2 {
	display: none;
}

/*
	Colors:
		blue joycon: #4CBDDB
		red  joycon: #EE5E53

